{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vogue Stash</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'pr/css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'pr/css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'pr/css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'pr/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'pr/css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'pr/css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'pr/css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'pr/css/style.css' %}" type="text/css">

    <!-- alertifyjs  -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <!-- Default theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>

</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="{% static 'pr/img/mylogo.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="/shopp/">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="{% url 'cart' %}">Shopping Cart</a></li>
                                    <li><a href="{% url 'wishlist' %}">Wishlist</a></li>
                                    <li><a href="{% url 'checkout' %}">Check Out</a></li>
                                    <li><a href="/about/">About Us</a></li>
                                    <li><a href="/contact/">Contact</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__nav__option">
                        <a href="#" class="search-switch" id="searchproducts"><img src="{% static 'pr/img/icon/search.png' %}" alt=""></a>
                        <a href="{% url 'wishlist' %}"><img src="{% static 'pr/img/icon/heart.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="canvas__open"><i class="fa fa-bars"></i></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__text">
                        <div class="section-title">
                            <span>Information</span>
                            <h2>Contact Us</h2>
                            <p>As you might expect of a company that began as a high-end interiors contractor, we pay
                                strict attention.</p>
                        </div>
                        <ul>
                            <li>
                                <h4>America</h4>
                                <p>195 E Parker Square Dr, Parker, CO 801 <br />+43 982-314-0958</p>
                            </li>
                            <li>
                                <h4>France</h4>
                                <p>109 Avenue Léon, 63 Clermont-Ferrand <br />+12 345-423-9893</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__form">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Email">
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="Message"></textarea>
                                    <button type="submit" class="site-btn">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__logo">
                            <a href="#"><img src="{% static 'pr/img/voguestash.png' %}" alt=""></a>
                        </div>
                        <p>The customer is at the heart of our unique business model, which includes design.</p>
                        <a href="#"><img src="{% static 'pr/img/payment.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Clothing Store</a></li>
                            <li><a href="#">Trending Shoes</a></li>
                            <li><a href="#">Accessories</a></li>
                            <li><a href="#">Sale</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="footer__widget">
                        <h6>Shopping</h6>
                        <ul>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Payment Methods</a></li>
                            <li><a href="#">Delivary</a></li>
                            <li><a href="#">Return & Exchanges</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                    <div class="footer__widget">
                        <h6>NewLetter</h6>
                        <div class="footer__newslatter">
                            <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                            <form action="#">
                                <input type="text" placeholder="Your email">
                                <button type="submit"><span class="icon_mail_alt"></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="footer__copyright__text">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <p>Copyright ©
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            Developed by Anagha Menon
                        </p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{% static 'pr/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'pr/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'pr/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'pr/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'pr/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'pr/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'pr/js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'pr/js/mixitup.min.js' %}"></script>
    <script src="{% static 'pr/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'pr/js/main.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        var availableTags = [];
   
       $.ajax({
           method: "GET",
           url: "/product-list",
           success: function (response) {
               startAutocomplete(response);
           }
       });
   
       function startAutocomplete(availableTags)
       {
           $( "#searchproducts" ).autocomplete({
               source: availableTags
           });
       }
      
   </script>
    <!-- alertifyjs -->
    <script crossorigin="anonymous" src="https://cdn.example.com/script.js"></script>

    <script>
        alertify.set('notifier','position', 'top-right');
    </script>

            {% for msg in messages %}
                <script>
                    alertify.success('{{ msg }}');
                </script>
            {% endfor %}
    
</body>

</html>



